rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == "admin@gmail.com";
    }

    match /orders/{orderId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    match /reviews/{reviewId} {
      allow create: if true;
      allow read: if true;
      allow update, delete: if isAdmin();
    }

    match /prices/{priceId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /activeTables/{tableId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if isAdmin();
    }
  }
}

